Server/.vs/DsServer/v15/Server/sqlite3/storage.ide-wal
Server/.vs/DsServer/DesignTimeBuild/.dtbcache
Server/.vs/DsServer/v15/.suo
Server/.vs/DsServer/v15/Server/sqlite3/storage.ide-shm
Server/.vs/config/applicationhost.config
Server/DsServer/bin/Debug/netcoreapp2.0/DsServer.dll
Server/DsServer/bin/Debug/netcoreapp2.0/DsServer.pdb
Server/DsServer/bin/Debug/netcoreapp2.0/DsServer.runtimeconfig.dev.json
Server/DsServer/obj/DsServer.csproj.nuget.cache
Server/DsServer/obj/DsServer.csproj.nuget.g.props
Server/DsServer/obj/project.assets.json
Server/DsServer/obj/Debug/netcoreapp2.0/DsServer.dll
Server/DsServer/obj/Debug/netcoreapp2.0/DsServer.pdb
Server/DsServer/obj/Debug/netcoreapp2.0/DsServer.csproj.CoreCompileInputs.cache
Server/DsServer/obj/Debug/netcoreapp2.0/DsServer.csproj.FileListAbsolute.txt
Server/DsServer/obj/Debug/netcoreapp2.0/DsServer.csprojAssemblyReference.cache
Server/.vs/DsServer/v15/Server/sqlite3/db.lock
