<div>
  
  <div class="col-sm-9">
    <div class="panel panel-default" droppable (onDrop)="onAlgorithmDrop($event)">
      <div class="panel-heading">Drop algorithm here</div>
        <div class="panel-body">

          <!-- Header -->
          <li class="list-group-item">{{selectedAlgorithm.UserReadebaleName}}</li>

          <!-- Text -->
          <li *ngIf='IsAlgorithmOutputText(selectedAlgorithm)' class="list-group-item">{{output | convertToText}}</li>

          <!-- Table -->
          <div *ngIf='IsAlgorithmOutputTable(selectedAlgorithm)'>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let label of outputTableHeaders">{{label}}</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of outputTableData">
                      <td *ngFor="let column of row">{{column}}</td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf='IsAlgorithmOutputGraph(selectedAlgorithm)'>
            <!-- Graph -->
            <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" 
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" 
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>

        </div>
    </div>
  </div>
</div>


